*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(135deg, #153677, #4e085f);
  min-height: 100vh;
  background-repeat: no-repeat;
}

.center{
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
}

h1{
  display: none;
  margin-bottom: 10px;
  width: 95%;
  line-height: 70px;
  font-size: 5rem;
  height: 10rem;
  font-family: "Poppins", sans-serif;
}

.container{
  margin-top: 40px;
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-app{
  min-height: 40vh;
  gap: 7px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: column;
  border-radius: 20px;
  display: flex;
  width: 95%;
  background-color: white;
}

span svg{
  width: 20px;
  margin-top: -3px;
}

#title{

  margin-top: 2rem;

}

span {
  font-size: 2rem;
  background-clip: text;
  font-weight: 700;
  font-family: "Poppins";
  display: flex;
  gap: 1rem;
}

.title{
  display: flex;
}

.light{
  font-weight: 400;
}

.row{
  padding-left: 1rem;
  border: 1px solid rgba(211, 68, 255, 0.281);
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  background-color: rgb(235, 230, 230);
  border-radius: 30px;
}

#Enter{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6626dd;
  border-radius: 30px;
  border-right: 20px;
  height: 35px;
  width: 60px;
  color: white;
  transition: 0.2s;
}

#Enter:hover{
  width: 7rem;
}

input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}

input[placeholder]{
  color: #8551ff;
}

input::placeholder{
  color: rgb(105, 105, 105);
  font-size: 13px;
}

ul{
  margin-top: 1rem;
}

ul li{
  width: 100%;
  margin-left: 15px;
  user-select: none;
  position: relative;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

ul li::before{
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 2px solid rgb(173, 173, 173);
  left: -30px;
}

ul li.checked{
  text-decoration: line-through;
}

ul li.checked::before{
  border: 2px solid #1e5ddb;
  background-image: url(check-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #1e5ddb;
}

ul li span{
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22px;
  transition: 0.3s;
  width: 30px;
  display: flex;
  justify-content: center;
  max-height: 30px;
  border-radius: 10%;
}

ul li span:hover{ 
  background-color: rgb(204, 204, 204);
  border-radius: 50%;
}

@media (max-width: 1000px){
  body{
      overflow-x: hidden;
  }

  h1{
    display: none;
  }

  .list-app{
      width: 85%;
      min-height: 40vh;
  }

  .row, #Enter{
    height: 4rem;
    border-radius: 60px;
  }

  #Enter{
    font-size: 1.2rem;
    width: 6rem;
    height: 3.9rem;
  }
  
  span{
    font-size: 3rem;
  }

  input{
    font-size: 25px;
  }

  input::placeholder{
    font-size: 1.5rem;
  }

}

